:root {
  --small-padding: 6px;
  --med-padding: 12px;
  --large-padding: 20px;
  --x-large-padding: 40px;
  --header-height: 5em;
  --link-gap: 40px;
  --body-width: 960px;
  --white: #ffffff;
  --white-opaque: #ffffffdd;
  --black: #000000;
  --im-red: rgb(227, 24, 55);
  --mid-grey: #666666;
  --grey-opaque: #66666633;
  --dark-grey: #333333;
  --disabled-opacity: 25%;
  --shadow-subtle: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  position: relative;
}

body {
  font-family: "Source Sans Pro";
  color: var(--black);
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 500;
  font-size: 3rem;
}
h4 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 1rem 0;
}
h5 {
  font-weight: 500;
  font-size: 1rem;
}

.page {
  display: grid;
  grid-template-columns: minmax(var(--med-padding), 1fr) minmax(0px, 960px) minmax(
      var(--med-padding),
      1fr
    );
  grid-template-rows: var(--header-height) fit-content(500px) 1fr;
}

.page > * {
  grid-column: 2 / 3;
}

.header-bar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: var(--med-padding) 0;
}

.container {
  background-color: var(--mid-grey);
  padding: 0;
}

.nav-bar {
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  gap: var(--med-padding);
}

.logo {
  height: 120%;
  position: relative;
  display: grid;
  grid-template:
    "image header" 50%
    "image subheader" 50% / 60px auto;
  padding: var(--med-padding);
  grid-gap: 0 var(--med-padding);
  z-index: 500;
  background-color: var(--white);
  box-shadow: var(--shadow-subtle);
}

.logo > * {
  margin: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.logo_image {
  grid-area: image;
  justify-content: center;
}

.logo_image img {
  max-height: 100%;
}

.logo_header {
  grid-area: header;
  align-items: flex-end;
}

.logo_subheader {
  grid-area: subheader;
  align-items: flex-start;
}

.link-group {
  display: flex;
  gap: var(--link-gap);
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

.dropdown {
  visibility: hidden;
  position: absolute;
  top: calc(100% + var(--large-padding));
  right: 50%;
  margin-right: -50%;
  padding-left: 0;
  opacity: 0;
  transition: all 0.4s ease;
  background-color: var(--white-opaque);
  z-index: 1000;
  padding: var(--large-padding);
  line-height: 2rem;
  white-space: nowrap;
}

.main-link:hover .dropdown,
.dropdown:hover {
  visibility: visible;
  display: block;
  opacity: 1;
}

.main-link,
.sub-link {
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: solid transparent 2px;
  white-space: nowrap;
}

.main-link img {
  max-width: 20px;
  margin: 10px;
}

.main-link a {
  color: inherit;
  text-decoration: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.main-link:hover,
.sub-link:hover {
  border-bottom: solid var(--im-red) 2px;
}

.link-buttons {
  display: none;
}

.link-close {
  z-index: 300;
}

.link-list {
  list-style: none;
  height: 100%;
}

.more-links {
  position: absolute;
  top: 100%;
  z-index: 3000;
  background-color: var(--white-opaque);
  padding: var(--large-padding);
  list-style: none;
  line-height: 2rem;
  box-shadow: var(--shadow-subtle);
}

.hidden {
  display: none;
}

.button_clear {
  background-color: transparent;
  border: none;
  outline: none;
}

.hero-image {
  height: 500px;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  object-fit: fill;
  background-size: cover;
  background-position: center;
}

.hero-text {
  position: absolute;
  grid-row: 2 /3;
  align-self: center;
  color: var(--white-opaque);
}

.front-page_info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--x-large-padding);
  padding-top: var(--x-large-padding);
}

.mask {
  width: 100%;
  height: 100%;
  background-color: #eeeeee33;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  display: none;
}

.mask_exposed {
  display: inline-block;
}

.hero-banner_image {
  height: 200px;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  object-fit: fill;
  background-size: cover;
  background-position: center;
  margin-bottom: var(--large-padding);
}

.hero-banner_overlay {
  position: absolute;
  grid-row: 2 /3;
  align-self: center;
  color: var(--white-opaque);
}

@media only screen and (max-width: 420px) {
  .logo {
    height: 100%;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
  }
  .link-group {
    display: none;
  }
  .link-buttons {
    display: flex;
    justify-content: center;
  }
  .link-group_exposed {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--white-opaque);
    padding: var(--med-padding);
    z-index: 200;
    box-shadow: var(--shadow-subtle);
  }
  .hidden {
    display: none;
  }
}

.member-display {
  display: grid;
  grid-template-columns: 100px auto;
  gap: var(--large-padding);
  padding-top: var(--large-padding);
  max-width: 750px;
  margin: 0 auto;
}

.member-display h3 {
  text-transform: uppercase;
}

.member-display h4 {
  text-transform: uppercase;
  font-size: 1rem;
}

.member-display_img-container {
  overflow: hidden;
}

.member-display_img-container > img {
  clip-path: circle(50%);
  width: 100%;
}

.training-session_each {
  box-shadow: var(--shadow-subtle);
  padding: var(--large-padding);
  margin-bottom: var(--large-padding);
}

.contact-form {
  max-width: 750px;
  display: grid;
  grid-template-columns: minmax(100px, 30%) 1fr;
  gap: var(--large-padding);
  padding: var(--large-padding);
  margin: 0 auto;
  box-shadow: var(--shadow-subtle);
  border: none;
}

.contact-form input,
.contact-form textarea {
  border: solid transparent 2px;
  background-color: var(--grey-opaque);
  outline: none;
  font-family: inherit;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: var(--white);
  border: solid var(--grey-opaque) 2px;
}

.contact-label {
  text-align: end;
}

.contact-submit {
  grid-column: 1 / -1;
  justify-self: flex-end;
  padding: var(--large-padding);
  border-radius: 0;
  border: solid var(--dark-grey) 4px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.2rem;
  outline: none;
}

.contact-submit:focus {
  background-color: var(--grey-opaque);
}
